.header {
  background-color: var(--blue);
  padding: 0.5rem;
  svg {
    color: var(--blue);
  }
  > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    > nav {
      position: absolute;
      top: 0;
      left: 0;
      max-width: 200px;
      min-height: 100vh;
      background: var(--white-light);
      color: var(--black);
      > div {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        &:first-child {
          color: var(--white);
          background: var(--blue);
          font-weight: bold;
          font-size: 1.1rem;
        }
        &:not(:first-child) {
          border-top: 1px solid var(--black);
        }
        > a {
          padding: 2rem 0.5rem;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          height: 40px;
          font-size: 1.2rem;
          svg {
            margin-right: 0.5rem;
          }
        }
      }
    }
    .iconeFechar {
      background: var(--white);
      position: absolute;
      top: 0;
      right: -40px;
      width: 40px;
      height: 40px;
    }
    .iconeNavMobile {
      width: 40px;
      height: 40px;
      color: var(--white);
    }

    h1 {
      color: var(--white);
      text-transform: uppercase;
      font-size: 1.5rem;
    }
    .iconeSacola {
      width: 30px;
      height: 30px;
      color: var(--white);
    }
  }
  .escurecer {
    filter: brightness(0.7);
    display: none;
  }
  >form{
    display:flex;
    width:100%;
    >input{
        border-radius: 0.2rem;
        height:30px;
        width:100%;
        border:1px solid var(--blue);
        padding-left: 0.5rem;
        color:var(--black);
        &:focus{
            outline-color: var(--blue);
        }
    }
    >button{
        border-radius: 0.2rem;
        width:40px;
        height:30px;
        background-color: var(--white);
        border:1px solid var(--blue);
        svg{
            font-size: 1.2rem;
            color:var(--blue);
        }

    }
  }
}
